@use 'variaveis';
@use 'hero';
@use 'details';
@use 'photos';
@use 'header';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    list-style: none;
}

h2 {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
}

body {
    background-color: variaveis.$corPrincipal;
}

.content {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    
    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}